body{
    background-color:rgb(7, 7, 7);
    margin: 0;
    padding: 0;
    font-family: "raleway"
}

.h1-principal {
    color: transparent;
    text-indent: -9999px;
    width: 0px;
    height: 0px;
    margin: 0;
}

header nav img{
    width: 10%;
  }


#quienessomos p{
    font-family: "raleway";
    font-weight: 300;
}

#quienessomos div.fondo{
    background-color: #239DBF;
    text-align: center;
}

#quienessomos div i{
    font-size: 23px;
}

#quienessomos hr.linea{
    width: auto;
    height: 1px;
    background-color: #239DBF;
}

#destacados h2{
    font-family: "raleway";
    font-weight: 500; 
}

#destacados hr.linea{
    width: auto;
    height: 1px;
    background-color: #239DBF;
}

.card-body-celeste {
    background-color:#239DBF;
    color: white;
}

img.card-img-top.acortar{
    height: 168px;
}


#contacto h2{
    font-family: "raleway";
    font-weight: 500;
}

#Contacto hr.linea{
    width: auto;
    height: 1px;
    background-color: #239DBF;
}

/*footer*/

#Footer{
    background-color:#239DBF;
}

#Footer a i{
    font-size: 36px;
    font-weight: 400;
}

